extends _templates/layout.jade

block content
	#img-shifter
		.imgs-canvas
			img(src="img/2020.gif", alt="OMG OMG OMG")
			img(src="img/soon.gif", alt="Coming soon? haha... are you serious?")

		ul.list-wrap
			li.img-trigger(data-id="0") Coming Soon
			li.img-trigger(data-id="1") 2020


